body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.etch-a-sketch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 20px rgb(255, 0, 255) solid;
    height: 320px;
    width: 320px;
    background-color: green;
}

.grid-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 10px;
}

.grid-section {
    display: flex;
    flex: 1;
    width: 10px;
    background-color: #eeeeee;
}


*/ button {
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

.middle-section {
    display: flex;
    flex-direction: column;
}

.etch-a-sketch-design {
    min-width: 700px;
    min-width: 700px;
    display: flex;
    flex-direction: row;
    background-color: #ee0000;
    padding: 20px;
    border-radius: 60px;
    justify-content: space-between;
    align-items: flex-end;
}

.drawing-wheels {
    height: 100px;
    width: 100px;
    background-color: #c5c5c5;
    border-radius: 100%;
    margin: 0px;
}